@model DearDiary.Web.Models.ExploreResultsViewModel

@{
    ViewBag.Title = "_ExploreResultsPartial";
}

<div>Results: @Model.Aims.Count() aims</div>
@foreach (var aim in Model.Aims)
{
    <div class="col-md-4 text-center">
        @Html.DisplayFor(_ => aim)
    </div>
}
<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.Pages; i++)
            {
            <li>
                @Ajax.ActionLink(i.ToString(), "ExploreAims",
            new
            {
                SearchWord = Model.SubmitModel.SearchWord,
                SortBy = Model.SubmitModel.SortBy,
                ChosenCategoriesIds = Model.SubmitModel.ChosenCategoriesIds,
                Page = i
            },
            new AjaxOptions()
            {
                UpdateTargetId = "explore-results",
                InsertionMode = InsertionMode.Replace
            })
            </li>
        }
    </ul>
</div>


