@{
    ViewBag.Title = "Home Page";
}

<div class="dreambanner">
</div>
<div class="banner_desc">
    <div class="btn-large ">
        <a href="~/explore" class="button">Explore</a>
    </div>
</div>
