@if (User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Add aim", "index", "Aim")</li>
            </ul>
        </li>
    </ul>
}

